<div class="all-posts-body">
  <h1>All "<%= page.category %>" Category's Posts</h1>
  <% var posts = page.posts.sort('-date').toArray(); %>
  <% posts.forEach(function(post) { %>
    <div class="article">
      <a href="<%= post.permalink %>"><%= post.title %></a>
      <sub><%= date(post.date, 'YY-M-D') %></sub>
    </div>
  <% }); %>
</div>